name: "Run Docker Security"

on: [push, pull_request]
# schedule:
#   - cron: '0 9 * * *'

jobs:
  generate-matrix:
    name: Generate matrix for build
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2
      - name: Check for dockerfiles
        id: set-matrix
        run: |
          pwd 
          cd images
          pwd 
          ls -l
          find . -type d -maxdepth 2 
          export IMAGES_LIST=$(find . -maxdepth 2 -type d -exec sh -c "echo {} | sed -e 's/\//\-/2' -e 's/\.\//lucmichalski\/docker-prestashop\:/g'" \;)
          echo "$IMAGES_LIST"
          IMAGES_LIST_ARRAY=(${IMAGES_LIST// / })
          JSON="{\"images\":["
          for DOCKERFILE_PATH in "${IMAGES_LIST_ARRAY[@]}"
          do
            if [[ $DOCKERFILE_PATH != "." ]]; then
              JSONline="\"$DOCKERFILE_PATH\","
              JSON="$JSON$JSONline"
            fi
          done
          # Remove last "," and add closing brackets
          if [[ $JSON == *, ]]; then
            JSON="${JSON%?}"
          fi
          JSON="$JSON]}"
          echo $JSON
          echo "::set-output name=matrix::$( echo "$JSON" )"
  build:
    needs: generate-matrix
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{fromJson(needs.generate-matrix.outputs.matrix)}}
      fail-fast: false
    steps:
    - name: Checkout source code
      uses: actions/checkout@v2
    - uses: docker/setup-buildx-action@v1
      id: buildx
      with:
        install: false
    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Install dockle
      run: |
        VERSION=$(curl --silent "https://api.github.com/repos/goodwithtech/dockle/releases/latest" |  grep '"tag_name":' |  sed -E 's/.*"v?([^"]+)".*/\1/' );
        curl -L -o dockle.deb https://github.com/goodwithtech/dockle/releases/download/v${VERSION}/dockle_${VERSION}_Linux-64bit.deb;
        sudo dpkg -i dockle.deb && rm dockle.deb
    - name: Install trivy
      run: |
        VERSION=$(
            curl --silent "https://api.github.com/repos/aquasecurity/trivy/releases/latest" | \
            grep '"tag_name":' | \
            sed -E 's/.*"v([^"]+)".*/\1/'
        )
        wget https://github.com/aquasecurity/trivy/releases/download/v${VERSION}/trivy_${VERSION}_Linux-64bit.tar.gz
        tar zxvf trivy_${VERSION}_Linux-64bit.tar.gz
        sudo mv trivy /usr/local/bin
    - name: Clear trivy cache
      run: trivy --clear-cache
    - name: Build Prestashop Docker image
      run: |
        echo "image: ${{ matrix.images }}"
        DOCKERFILE_PATH=$(echo "${{ matrix.images }}" | sed -e 's/lucmichalski\/prestashop\-docker\://' -e 's/\-/\//1')
        echo "path: ${DOCKERFILE_PATH}"
        cd ${DOCKERFILE_PATH}
        pwd 
        docker build -t ${{ matrix.images }} --no-cache .
        docker images
    # - name: Scan Docker image for unkown/low/medium vulnerabilities
    #   run: trivy --exit-code 0 --severity UNKNOWN,LOW,MEDIUM ${{ matrix.image }}:${{ matrix.version }}-${{ matrix.tag }}
    # - name: Scan Docker image for high/critical vulnerabilities
    #   run: trivy --exit-code 0 --severity HIGH,CRITICAL ${{ matrix.image }}:${{ matrix.version }}-${{ matrix.tag }}
    - name: Run Trivy vulnerability scanner
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: '${{ matrix.images }}'
        format: 'template'
        template: '@/contrib/sarif.tpl'
        output: 'trivy-results.sarif'
    - uses: homoluctus/gitrivy@v2
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        image: ${{ matrix.images }}
        severity: UNKNOWN,LOW,MEDIUM,HIGH,CRITICAL
    # - name: Upload Trivy scan results to GitHub Security tab
    #   uses: github/codeql-action/upload-sarif@v1
    #   with:
    #     sarif_file: 'trivy-results.sarif'
    # - name: Slack Notification
    #   uses: lazy-actions/slatify@master
    #   if: always()
    #   with:
    #     type: ${{ job.status }}
    #     job_name: '*Security*'
    #     channel: '#devops-Security'
    #     url: ${{ secrets.SLACK_WEBHOOK }}
    - name: Check dockle
      run: |
        dockle ${{ matrix.images }} | tee -a dockle.out;
        # test $(cat dockle.out | grep -e FATAL -e WARN | wc -l) -eq 0
